deps/

.bender/
Bender.lock
Bender.local
/working_dir/

.vscode/
__pycache__

// Modelsim Fiels
*.wlf
modelsim.ini
*stacktrace*
transcript

gmon.out

build/
.venv/
**/*.tmp
**/*.log
**/*.jou
**/*.zip
**/*.str

target/tapeout/tcl/*

.claude
tmp/